<div class="container about-section">
    <div class="col-12 ">
        <h1 class="about-info-head ml-4"><span style="border-top: 2px solid  ">Project</span> & Products</h1>
        <div class="text-center text-lg-left">
            <div class="row">
                <div class="col-lg-8 ml-4 project-content">
                    Watson is an artificial intelligence question-answering computer system, it can answer questions posed in natural language. The computer system was initially developed to answer questions on the quiz show Jeopardy!
In February 2013, IBM announced that Watson software system's first commercial application would be for utilization management decisions in lung cancer treatment at Memorial Sloan Kettering Cancer Center, New York City, in conjunction with WellPoint (now Anthem).

                    <br>
                    It is a digital tool that helps clients to facilitate medical research, clinical research, and healthcare solutions using artificial intelligence, data, analytics, cloud computing, and other advanced information technology.

                </div>

                <span class="details-section d-inline-block">
                    <span class="details-block">
                        <p class="details-number">400+</p>
                        <p class="details-text">Resources</p>
                    </span>
                    <span class="details-block">
                        <p class="details-number">8M</p>
                        <p class="details-text">Deal</p>
                    </span>
                    <p>
                        <span class="details-block">
                            <p class="details-number">10</p>
                            <p class="details-text">Products</p>
                        </span>
                        <span class="details-block">
                            <p class="details-number">6&nbsp;<span class="details-text">MileStones</span></p>
                            <p class="details-text"> Achieved</p>
                        </span>
                    </p>
                </span>
            </div>

        </div>


        <section class="pb-5">
            <div class="row">
                <div class="col-6 ml-4">
                    <h1 class="about-info-head">Products</h1>
                </div>
            </div>
            <div class="container">

                <carousel class="ivycarousel" [cellWidth]="340" [loop]="true" [margin]="2" [cellsToShow]="5">

                    <div *ngFor="let data of allProjects" class="carousel-cell">
                        <button  #items (click)="onProductClick(data.projectID)" type="button" class="btn link products" data-placement="bottom">
                            {{data.pname}}
                        </button>
                        <div id="{{data.pname}}" class="favyicon">

                        </div>
                    </div>
                   
                </carousel>
                <div *ngIf="productClicked" class="col-md-12  desc">
                   {{descDetail}}
                </div>
            </div>

        </section>



    </div>


</div>