<div class="container about-section">
    <div class="col-12 ">
        <h1 class="about-info-head ml-4"><span style="border-top: 2px solid  ">Project</span> & Products</h1>
        <div class="text-center text-lg-left">
            <div class="row">
                <div class="col-lg-8 ml-4 project-content">
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting,
                    remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset
                    sheets containing Lorem Ipsum passages, Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry, typesetting industry. and more recently with desktop publishing software like
                    Aldus PageMaker including versions of Lorem Ipsum
                    <br>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    PageMaker including versions of Lorem Ipsum
                </div>

                <span class="details-section d-inline-block">
                    <span class="details-block">
                        <p class="details-number">400+</p>
                        <p class="details-text">Resources</p>
                    </span>
                    <span class="details-block">
                        <p class="details-number">8M</p>
                        <p class="details-text">Deal</p>
                    </span>
                    <p>
                        <span class="details-block">
                            <p class="details-number">10</p>
                            <p class="details-text">Products</p>
                        </span>
                        <span class="details-block">
                            <p class="details-number">6&nbsp;<span class="details-text">MileStones</span></p>
                            <p class="details-text"> Achieved</p>
                        </span>
                    </p>
                </span>
            </div>

        </div>


        <section class="pt-5 pb-5">
            <div class="row">
                <div class="col-6 ml-4">
                    <h1 class="about-info-head">Products</h1>
                </div>
            </div>
            <div class="container">

                <carousel class="ivycarousel" [cellWidth]="340" [loop]="true" [margin]="2" [cellsToShow]="5">

                    <div *ngFor="let data of sampleData" class="carousel-cell">
                        <button (mouseenter)="onHovering(data.product)" type="button" class="btn link products" data-placement="bottom">
                            {{data.product}}
                            <h6>Lorem Ipsum</h6>
                        </button>

                    </div>
                   
                </carousel>
                <div class="col-md-12 hide">
                   {{descDetail}}
                </div>
            </div>

        </section>



    </div>


</div>