.about-section {
  background-image: url("../../assets/img/aboutus/bg-img.png");
  height: 619px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-info-head {
  font-size: 22px;
  color: #ffffff;
  display: inline-block;
  text-transform: uppercase;
  margin-top: 30px;
}

.project-content {
  color: #ffffff;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.7;
}

.details-block {
  margin-bottom: 14px;
  width: 115px;
  /* min-height: 43px; */
  text-align: left;
  /* width: 107px; */
  border: 1px solid #ffffff;
  border-radius: 16px;
  opacity: 1;
  padding: 12px;
  display: inline-block;
  margin-right: 17px;
}
p {
  margin: 0;
}
.details-number {
  font-weight: 500;
  color: #fff;
  font-size: 25px;
}
.details-text {
  font-size: 14px;
  font-weight: lighter;
  color: #ffff;
}

.products {
  font-weight: 500;
  color: #fff;
  font-size: 18px;
  border: none;
  border-left: 2px solid;
  border-radius: 1px;
  box-shadow: none;
  margin-left: 26px;
    margin-top: 20px;
    margin-right: 4px;
}
.carousel-cell {
  margin-top: 60px;
  text-align: center;
}
.carousel-cell h6 {
  margin-left: 10px !important;
  color: #ffffff;
  font-weight: lighter;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 0.7;
}
// .hide {
//   visibility: hidden;
//   color: #ffffff;
//   font-weight: 200;
//   font-size: 12px;
//   opacity: 0.6;
//   transition: all 0.2s ease-out !important;
//   background-color: grey;
//   padding: 35px;
//   margin-top: -52px;

// }
.ivycarousel{
  height: 200px;
  margin-top: -73px;
}

// .ivycarousel  {
//   visibility: visible;
//   color: #ffffff;
//   font-weight: 200;
//   font-size: 12px;
//   opacity: 0.6;
//   transition: all 0.2s ease-out !important;
//   background-color: grey;
//   padding: 35px;
// }
.desc{

  visibility: visible!important;
  color: #ffffff;
  font-weight: 200;
  font-size: 12px;
  opacity: 0.6;
  transition: all 0.2s ease-out !important;
  background-color: grey;
  padding: 35px;
  margin-top: -64px;

}




 .favyicon{
display: none;
  width: 0;

  height: 0;

  border-left: 17px solid transparent;

  border-right: 17px solid transparent;

  border-bottom: 17px solid gray;

  position: absolute;

  left:40%;

  opacity: 0.6;



}