<div class="container-fluid container-margin">
    <div class="row row-allign">
        <div class="col-md-7">
            <div class="leave-border"></div>
            <div class="leave-tracker-text">LEAVE TRACKER</div>

            <div class="calendra-margin">
                <full-calendar class="leave-calender" [options]="calendarOptions"></full-calendar>

            </div>
        </div>
        <div class="col-md-2" >

        </div>

        <!-- <button [matMenuTriggerFor]="appMenu">
           calendar_today
          </button>
          <mat-menu #appMenu="matMenu" class="drop-calendar" >
              <div (click)="$event.stopPropagation()">
                  <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected"></mat-calendar>
              </div>
          </mat-menu>
          <pre>
          {{daysSelected|json}}
          </pre> -->
        

        <div class="col-md-3 delete-icon-position">

            
            <!-- <button class="date-button"><i class="fa fa-angle-left icon"></i>
                <span>OCT-2021</span>
                <i class="fa fa-angle-right icon"></i>
            </button> -->
            <div class="availabilityUpdate">
                <div class="update-del-section">
                      <!-- <button class="btn btn-primary" data-toggle="modal"
                      data-target="#myModal2">Update Leaves</button><button class="delete-icon" data-toggle="modal" data-target="#myModal"><i
                          class="fa fa-trash-o icon"></i></button> -->
                          <button class="btn btn-primary" [matMenuTriggerFor]="appMenu"
                         >Update Leaves</button>
                         <mat-menu #appMenu="matMenu" class="drop-calendar" >
                            <div (click)="$event.stopPropagation()">
                                <mat-calendar #calendars (selectedChange)="select($event,calendars)" [dateClass]="isSelected"></mat-calendar>
                                <button style="float: right;margin: 20px;" class="btn btn-primary btn3">Save</button>
                            </div>
                        </mat-menu>
                         <button class="delete-icon" data-toggle="modal" data-target="#myModal"><i
                              class="fa fa-trash-o icon"></i></button>
                            
                </div> 
                <p style="font-size: 14px;font-weight: bolder; ">Availability Update</p>
            </div>
            <div>
                    <full-calendar #calendar class="day-calender" [options]="calendarOptionstest"></full-calendar>

            </div>
            <div class="div" style="margin-top:10%">
                    <div>
                        <p class="holiday-head">Public Holiday</p>
                    </div>
                    <div class="holiday-div">
                        <div *ngFor="let holiday of publicHolidayDisplay" class="sidebarsecond">
                            <p class="sidebarone-text" style="margin:6px">{{holiday.date}} <br />
                                {{holiday.description}}</p>
                        </div>
                    </div>
    
                   
                </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <div class="delete-leave-popup">Delete leaves</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>

                <div style="margin-left:48%;margin-top: 2%">
                    <pagination-controls id="data_table" maxsize="5" directionLinks="true" (pageChange)="page=$event">
                    </pagination-controls>
                </div>

                <div class="modal-body modal-body2">
                    <table class="table">
                        <tr *ngFor="let tableDatas of tableData | 
                        paginate:{id:'data_table',
                            itemsPerPage:5,currentPage:page,
                            totalItems:totalRecords}">
                            <td>{{tableDatas.date}}</td>
                            <td>
                                <button style="border: none;background: white;">
                                    <i class="fa fa-trash-o icon" style="font-size: 18px;margin-right: -135px"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
        <!-- adding code -->
    
        <!-- adding code -->
        <div id="myModal2" class="modal fade" role="dialog">
            <div class="modal-dialog">
    
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="delete-leave-popup">Update leaves</div>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                                <!-- <mat-calendar #calendar (selectedChange)="select($event,calendar)" [dateClass]="isSelected"></mat-calendar> -->
                            <!-- <ngb-datepicker #dp (dateSelect)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t"
                                outsideDays="hidden">
                            </ngb-datepicker>
    
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template> -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn2" data-dismiss="modal">Cancel</button>
                        <button class="btn btn-primary btn3">Save</button>
                    </div>
                </div>
            </div>
        </div>
</div>