<div class="container-fluid container-margin">
    <div class="row row-allign">
        <div class="col-md-7">
            <div class="leave-border"></div>
            <div class="leave-tracker-text">LEAVE TRACKER</div>

            <div class="calendra-margin">
                    <span *ngIf="insideData==false" class="spinner-border spinner-border-lg align-center"></span> 
                <full-calendar #monthcalender class="leave-calender" [options]="calendarOptions"></full-calendar>

            </div>
        </div>
        <div class="col-md-2" >

        </div>

        <div class="col-md-3 delete-icon-position">

            <div class="availabilityUpdate">
                <div class="update-del-section">
                        <button class="btn btn-primary" (click)="openModal(addLeaveModal)">Update Leaves</button>
                        <button class="delete-icon" (click)="openModal(deleteLeaveModal)"><i
                            class="fa fa-trash-o icon"></i></button>
                            
                </div> 
                <p style="font-size: 14px;font-weight: bolder; ">Leaves Update</p>
            </div>
            <div>
                    <full-calendar #calendar class="day-calender" [options]="calendarOptionstest"></full-calendar>

            </div>
            <div class="div" style="margin-top:10%">
                    <div>
                        <p class="holiday-head">Public Holiday</p>
                    </div>
                    <div class="holiday-div">
                        <div *ngFor="let holiday of publicHolidayDisplay" class="sidebarsecond">
                            <p class="sidebarone-text" style="margin:6px">{{holiday.date}} <br />
                                {{holiday.description}}</p>
                        </div>
                    </div>
    
                   
                </div>
        </div>
    </div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <div class="delete-leave-popup">Delete leaves</div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>

                <div style="margin-left:48%;margin-top: 2%">
                    <pagination-controls  *ngIf="deleteLeavesData.length>5" id="data_table" maxsize="5" directionLinks="true" (pageChange)="page=$event">
                    </pagination-controls>
                </div>

                <div class="modal-body modal-body2">
                    <table class="table">
                        <tr *ngFor="let tableDatas of deleteLeavesData | 
                        paginate:{id:'data_table',
                            itemsPerPage:5,currentPage:page,
                            totalItems:totalRecords}">
                            <td *ngIf="tableDatas.fromDate == tableDatas.toDate">{{tableDatas.fromDate}}</td>
                            <td *ngIf="tableDatas.fromDate != tableDatas.toDate">{{tableDatas.fromDate}} - {{tableDatas.toDate}}</td>

                            
                            <td>
                                    <input type="checkbox"
                                    name="item-{{tableDatas.lid}}"
                                    #deleteItem
                                   (change)="OnCheckboxSelect(tableDatas.lid, $event)"
                                  >
                                <!-- <button (click)="deleteLeaves(tableDatas.lid)" style="border: none;background: white;">
                                    <i class="fa fa-trash-o icon" style="font-size: 18px"></i>
                                </button> -->
                            </td>
                        </tr>
                    </table>
                    
                </div>
                <div style="width: 100%;margin-bottom: 5%;margin-left: -25px;">
                            <button data-dismiss="modal" type="button"  class="btn cancel float-right">
                                Cancel </button>
                            <button data-dismiss="modal" class="btn save float-right" (click)="deleteLeaves()">  Save </button>
        
                        </div>
            </div>
        </div>
    </div>
    
        <!-- adding code -->
    
       

        <ng-template #deleteLeaveModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Delete Leaves</h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>
                <div style="margin-left:48%;margin-top: 2%">
                        <pagination-controls  *ngIf ="deleteLeavesData.length>5" id="data_table" maxsize="5" directionLinks="true" (pageChange)="page=$event">
                        </pagination-controls>
                    </div>
                <div class="modal-body">
                        <p *ngIf ="deleteLeavesData.length==0" >You have no planned leaves for this month!!</p>
                        <table *ngIf ="deleteLeavesData.length!=0" class="table">
                                <tr *ngFor="let tableDatas of deleteLeavesData | 
                                paginate:{id:'data_table',
                                    itemsPerPage:5,currentPage:page,
                                    totalItems:totalRecords}">
                                    <td *ngIf="tableDatas.fromDate == tableDatas.toDate">{{tableDatas.fromDate}}</td>
                                    <td *ngIf="tableDatas.fromDate != tableDatas.toDate">{{tableDatas.fromDate}} - {{tableDatas.toDate}}</td>
        
                                    
                                    <td>
                                            <input type="checkbox"
                                            name="item-{{tableDatas.lid}}"
                                            #deleteItem
                                           (change)="OnCheckboxSelect(tableDatas.lid, $event)"
                                          >
                                     
                                    </td>
                                </tr>
                            </table>

                            <div *ngIf ="deleteLeavesData.length!=0" style="width: 100%;margin-bottom: 5%;margin-left: -25px;">
                                    <button (click)="modal.dismiss()" type="button"  class="btn cancel float-right">
                                        Cancel </button>
                                    <button  class="btn save float-right" (click)="deleteLeaves()">  Save </button>
                
                                </div>
                </div>
            </ng-template>


        <ng-template #addLeaveModal let-modal>
                <div class="modal-header">
                    <h5 class="modal-title">Update Leaves</h5>
                    <button type="button" class="close" (click)="modal.dismiss()" aria-label="Close"> <span
                            aria-hidden="true">&times;</span> </button>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        <div class="form-row">
                    <ng-template #dayTemplate let-date let-disabled="disabled">
                        <span class="custom-day"  container="body" matTooltip="getTooltip(date)"  [matTooltipPosition]="'above'"
                              [class.holiday]="!!isHoliday(date)"
                              [class.disabled]="disabled || isWeekend(date)"
                              [class.leave]="!!onLeave(date)"
                              [class.range]="isRange(date)"
                              [class.faded]="isHovered(date) || isInside(date)"
                              (mouseenter)="hoveredDate = date"
                              (mouseleave)="hoveredDate = null">
                          {{ date.day }}
                        </span>
                      </ng-template>
                      <ngb-datepicker
                        (dateSelect)="onDateSelection($event)"
                        [dayTemplate]="dayTemplate"
                        [markDisabled]="markDisabled"
                        [minDate]="today"
                        outsideDays="hidden"
                        [displayMonths]="2">
                      </ngb-datepicker>
                
                           
                        </div>
                       
                        <div style="width:100%;margin-top: 5%;">
                            <button (click)="modal.dismiss()" type="button"  class="btn cancel float-right">
                                Cancel </button>
                            <button class="btn save float-right" (click)="onLeaveUpdateSave()">  Save </button>
        
                        </div>
        
                    </form>
                </div>
            </ng-template>
</div>