<div class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" formControlName="username" [pattern]="emailPattern" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                    <div *ngIf="f.username.errors.pattern">Username is not valid</div>

                </div>
            </div>


            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-group">
                    <input type="password" formControlName="password" class="form-control"
                        [type]="fieldTextType ? 'text' : 'password'"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors}" />
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa" [ngClass]="{
                                'fa-eye-slash': !fieldTextType,
                                'fa-eye': fieldTextType
                              }" (click)="toggleFieldTextType()"></i>
                        </span>
                    </div>

                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Login
                    </button>
                </div>
                <div class="form-group col">
                    <label>Not a member yet?&nbsp;</label>
                    <a routerLink="../register"><b>Register</b></a>
                </div>
            </div>
        </form>
    </div>
</div>
