<div class="card">
    <h4 class="card-header">Register</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col">
                    <label for="firstName">First Name<span style="color:red">*</span></label>
                    <input type="text" formControlName="firstName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"  required
                         />
                    <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                        <div *ngIf="f.firstName.errors.required">First Name is required</div>
                        <div *ngIf="f.firstName.errors.maxlength">First Name should not exceed more than 20 characters</div>

                    </div>
                </div>
                <div class="form-group col">
                    <label for="middleName">Middle Name</label>
                    <input type="text" formControlName="middleName" class="form-control" />
                </div>

            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="lastName">Last Name<span style="color:red">*</span></label>
                    <input type="text" formControlName="lastName" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" required
                        maxlength="25" />
                    <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                        <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                        <div *ngIf="f.lastName.errors.maxlength">Last Name should not exceed more than 20 characters</div>
                    </div>
                </div>
                <div class="form-group col">
                    <label for="empId">Employee ID<span style="color:red">*</span></label>
                    <input type="text" formControlName="empId"  class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.empId.errors }" id="number"  inputmode="numeric" maxlength="8">
                    <div *ngIf="submitted && f.empId.errors" class="invalid-feedback">
                        <div *ngIf="f.empId.errors.required">EmpID is required</div>
                        <div *ngIf="f.empId.errors.pattern">EmpID is not valid</div>
                    </div>
                </div>


            </div>
            <div class="form-row">
                <div class="form-group col">
                    <label for="email">Email/UserName<span style="color:red">*</span></label>
                    <input type="text" formControlName="email" [pattern]="emailPattern" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email is required</div>
                        <div *ngIf="f.email.errors.pattern">Email is not valid</div>

                    </div>
                </div>
                <div class="form-group col">
                    <label for="password">Password<span style="color:red">*</span></label>
                    <input type="password" formControlName="password" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                        <div *ngIf="f.password.errors.minlength">Password must be at least 8 characters</div>
                        <div *ngIf="f.password.errors.maxlength">Password should not exceed more than 15 characters</div>

                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col">
                    <button [disabled]="loading" class="btn btn-primary">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Register
                    </button>
                </div>
                <div class="form-group col">
                    <label>Already a member?&nbsp;</label>
                    <a routerLink="../login"><b>Sign in</b></a>
                </div>
            </div>
        </form>
    </div>
</div>